@import "stylepatern.css";

/* Mantém regras específicas desta folha abaixo */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* CONTAINER MENU LATERAL ONDE LOCAZIA AS OPÇÕES DE NAVEGAÇÃO */
#side-menu {
    background-color: #233946;
    width: 275px;
    min-width: 275px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTAINER TOPO DO MENU LATERAL*/
#top-content-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

#logo-zanga img {
    width: 130px;
    margin-right: 10px;
}

#menu-bars img {
    width: 36px;
    cursor: pointer;
}

/* CONTAINER MENU LATERAL DOS ITENS */
#side-items-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#side-items {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-item {
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    border-radius: 5px;
}

.side-item a {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--font-color);
    font-size: 16px;
    font-weight: 500;
}

.side-item:hover {
    background-color: #35556252;
}

.side-item.active-page {
    background-color: var(--border-color-1);
    border-left: 6px solid var(--green-color);
    padding-left: 10px;
}

.center-main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hub-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hub-box svg {
    margin-bottom: 20px;
}

.hub-box h3 {
    margin: 26px 0 26px 0;
    font-weight: 500;
}

.login-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label,
input {
    width: 90%;
    margin-bottom: 10px;
    padding: 6px;
}

.login-form label {
    box-sizing: border-box;
    width: 100%;
    font-weight: 500;
}

.login-form input {
    padding: 12px;
    background-color: var(--border-color-1);
    border: 1px solid var(--font-color);
    border-radius: 12px;
    color: var(--font-color);
}

.login-form input::placeholder {
    color: #ffffff86;
    font-size: 12px;
    font-family: var(--font-family);
}

.login-form input:focus {
    border: 1px solid var(--green-color);
    outline: none;
}

.login-form button {
    margin-top: 10px;
    width: 40%;
    padding: 10px;
    font-size: 16px;
}
